@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar: oklch(0.985 0.001 106.423);
    --sidebar-foreground: oklch(0.147 0.004 49.25);
    --sidebar-primary: oklch(0.216 0.006 56.043);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.97 0.001 106.424);
    --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
    --sidebar-accent-50: oklch(0.97 0.001 106.424 / 0.5);
    --sidebar-accent-foreground-10: oklch(0.216 0.006 56.043 / 0.1);
    --sidebar-foreground-70: oklch(0.147 0.004 49.25 / 0.7);
    --sidebar-border: oklch(0.923 0.003 48.717);
    --sidebar-ring: oklch(0.709 0.01 56.259);
    --default-home: oklch(0.8775 0.1745 92.55);
    --backoground-login: oklch(0.3151 0.1461 326.63);
    --backoground-login-less: oklch(0.775 0.1087 327.1);
    --text-infos: oklch(0.4108 0.098582 121.0087);
    --transaction-success: oklch(0.4095 0.136 142.21);
    --transaction-transfer: oklch(0.8203 0.1762 327.03);
    --transaction-transfer-info: oklch(0.4213 0.1929 328.36);
    --transaction-payment: oklch(49.841% 0.11633 118.335);
    --transaction-withdraw: oklch(0.3039 0.2007 266.56);
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar: oklch(0.216 0.006 56.043);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.268 0.007 34.298);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent-50: oklch(0.268 0.007 34.298 / 0.5);
    --sidebar-accent-foreground-10: oklch(0.985 0.001 106.423 / 0.1);
    --sidebar-foreground-70: oklch(0.985 0.001 106.423 / 0.7);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.553 0.013 58.071);
    --default-home: oklch(0.8775 0.1745 92.55);
    --backoground-login: oklch(0.3151 0.1461 326.63);
    --backoground-login-less: oklch(0.775 0.1087 327.1);
    --text-infos: oklch(0.4108 0.098582 121.0087);
    --transaction-success: oklch(0.4095 0.136 142.21);
    --transaction-transfer: oklch(0.8203 0.1762 327.03);
    --transaction-transfer-info: oklch(0.4213 0.1929 328.36);
    --transaction-payment: oklch(0.6276 0.145561 117.6221);
    --transaction-withdraw: oklch(0.3039 0.2007 266.56);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


